/build/
/build_debug/
/build_release/
/public/
*.pyc
.qt_for_python
/.cache/
/typings/
imgui.ini
window.ini
/.venv/

/subprojects/*
!/subprojects/packagefiles
!/subprojects/usd.wrap
!/subprojects/tbb.wrap

